html {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #F0EBEB;
	position: relative;
	padding-bottom: 55px;
	min-height: 100%;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

label {
	width: 100%;
}

input, button {
	outline: none;
}

.form-control {
	background-color: #7b8b9421;
	padding: 8px 15px;
	font-weight: 300;
	height: auto;
}

a {
	-webkit-transition: .15s ease-in all;
	-moz-transition: .15s ease-in all;
	-ms-transition: .15s ease-in all;
	-o-transition: .15s ease-in all;
	transition: .15s ease-in all;
}

a:hover {
	text-decoration: none;
}

.img-round {
	max-width: 100%;
	max-height: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.btn {
	padding: 10px 35px;
	font-size: 12px;
}

.btn i {
	margin-right: 5px;
}

.btn-danger {
	background-color: #f05151;
	border: 1px solid #f05151;
}

.btn-transparent {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-transparent:hover {
	color: #f05151;
	background-color: #fff;
}

.close {
	outline: none !important;
}

.errors {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 7.4rem;
	letter-spacing: 4px;
}

h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 60px;
}

.flashes {
	position: fixed;
	right: 15px;
	top: 75px;
	z-index: 999;
	transition: .3s ease-out all;
}

/*Header*/
#nav {
	background-color: #3B354D;
}

.main-menu__list {
	display: flex;
}

.main-menu__item a {
	color: #fff;
	display: block;
	line-height: 50px;
	padding: 10px 10px;
	border-top: 3px solid transparent;
}

.main-menu__item a:hover {
	color: #FF6162;
}

form input {
	margin: 7px 0;
}

.dropdown-menu {
	background-color: #2f2c3c;
}

.dropdown-menu .btn {
	border: none;
	width: 100%;
}

.dropdown-menu .btn:hover {
	background-color: white;
}

.dropdown__profile:hover > .dropdown-menu {
	display: block;
}

.dropdown__profile > .dropdown-toggle:active {
	pointer-events: none;
}

.modal .btn {
	margin-bottom: 5px;
}


/*Header*/
header {
	background: url("../img/bg.jpg") no-repeat center top;
	color: #fff;
	padding: 120px 0 200px;
}

.main-subtitle {
	font-size: 20px;
}

#user-notif {
	margin-right: 15px;
	display: block;
}

#user-notif i {
	font-size: 20px;
}

.notifications {
	width: 30vw;
	max-height: 60vh;
	overflow-y: scroll
}

.notifications .message, .notifications .message-empty {
	font-weight: 300;
	color: white;
	font-size: 14px;
	padding: 20px 1.5rem 10px;
	border-bottom: 1px solid white;
	display: block;
	position: relative;
}

.notifications .close {
	font-size: 20px;
	color: #17a2b8
}

.notifications .message:last-child, .notifications .message-empty {
	border-bottom: 0;
}

.notifications .message__timestamp {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 11px;
}

.profile-link {
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.profile-link:hover {
	background-color: #2f2c3c;
	color: white;
}

.btn.done {
	opacity: .65
}

/*Users*/
#users {
	padding: 80px 0;
}

#users .card {
	margin-bottom: 20px;
}

.filters {
	margin-bottom: 40px;
}

.filters .form-control {
	margin-top: 0;
	margin-bottom: 10px;
	background-color: #fff;
}

/*Profile*/
#profile {
	padding: 80px 0;
}

.settings-form {
	background-color: #fff;
	padding: 40px 20px;
	border-radius: .25rem;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.04);
}

.settings-form select {
	margin: 7px 0;
}

.settings-form .profile__avatar {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	cursor: pointer;
	margin: 0 20px 1rem 0;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 0;
	-webkit-transition: .15s ease-in all;
	-moz-transition: .15s ease-in all;
	-ms-transition: .15s ease-in all;
	-o-transition: .15s ease-in all;
	transition: .15s ease-in all;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.profile__avatar:hover {
	font-size: 30px
}

.profile__avatar.selected {
	background: #3B354D !important;
	font-size: 30px;
	color: #28a745;
}

.profile__avatar:focus {
	background: #000;
}

.profile__avatar input {
	display: none;
}

.profile__avatar input {
	background-color: #000;
}

.profile__info {
	width: 40%;
	font-size: 17px;
}

.profile__info .progress {
	height: 18px;
	margin-top: 5px;
}

.profile__title {
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0 5px;
}

.profile__bio {
	font-size: 16px;
}

.profile__fame {
	margin: 10px 0;
	background-color: #fff;
}

.progress-bar {
	color: darkmagenta;
}

.profile__login {
	font-weight: bold;
	margin-top: 10px;
}

.profile__status {
	font-size: 14px;
}

.profile__photo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 20px 10px;
	cursor: pointer;
}

.profile__photo .form-control {
	margin-top: auto;
}

.uploaded_photo {
	height: 200px;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.profile__photo img {
	max-width: 120px;
	margin-right: 20px;
}

#profile .btn {
	margin-top: 15px;
}

.carousel {
	height: 100%;
}

.carousel-inner {
	height: 100%;
	display: flex;
	align-items: center;
}

.carousel-item {
	text-align: center;
}

/**/
#chat {
	padding: 80px 0;
}

.chat {
	background-color: #fff;
	-webkit-box-shadow: inset 4px 4px 16px #fff;
	-moz-box-shadow: inset 4px 4px 16px #fff;
	box-shadow: inset 4px 4px 16px #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 50px 40px;
	overflow-y: scroll;
	max-height: 60vh;
}

.chat__img {
	max-height: 70px;
	width: auto;
	margin: 0 10px;
}

.chat__message {
	display: flex;
	align-items: flex-start;
	margin: 20px 0;
	position: relative;
}

.chat__message.right-align {
	flex-direction: row-reverse;
}

.chat__login {
	padding: 10px 0;
	margin: 0 15px 0 0;
}

.chat__timestamp {
	font-size: 13px;
}

.chat__text {
	-ms-word-break: break-all;
	word-break: break-all;
}

.chat__textarea {
	background-color: white;
	resize: none;
	margin: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.sendMessageForm .btn-block {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/*Footer*/
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #3B354D;
	color: #fff;
	padding: 15px 0;
}

/*SELECT2*/
.select2-container {
	width: 100% !important;
}

.select2-container .select2-selection--multiple {
	background-color: #7b8b9421;
	border: 1px solid #ced4da !important;
	border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #007bff;
	color: #fff;
	border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #f05151;
}

.filters .select2-container .select2-selection--multiple {
	background-color: #fff;
	margin-bottom: 10px;
}

.filters .select2-container--default .select2-selection--single {
	border: 1px solid #ced4da;
}

@media screen and (max-width: 768px) {
	body {
		padding-bottom: 79px;
	}

	.main-title {
		font-size: 60px
	}

	.chat {
		padding: 10px;
	}

	.chat__img {
		max-height: 45px;
	}

	.chat__timestamp {
		font-size: 10px;
	}

	.chat__login {
		font-size: 15px;
	}
}

@media screen and (max-width: 576px) {
	.main-title {
		font-size: 48px
	}
}
