body {
	font-family: 'Poppins', sans-serif;
	background-color: #F0EBEB;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

label {
	width: 100%;
}

input, button {
	outline: none;
}

.form-control {
	background-color: #7b8b9421;
	padding: 8px 15px;
	font-weight: 300;
	height: auto;
}

a {
	-webkit-transition: .15s ease-in all;
	-moz-transition: .15s ease-in all;
	-ms-transition: .15s ease-in all;
	-o-transition: .15s ease-in all;
	transition: .15s ease-in all;
}

a:hover {
	text-decoration: none;
}

.img-round {
	max-width: 100%;
	max-height: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.btn {
	padding: 10px 35px;
	font-size: 12px;
}

.btn-danger {
	background-color: #f05151;
	border: 1px solid #f05151;
}

.btn-transparent {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-transparent:hover {
	color: #f05151;
	background-color: #fff;
}

.close {
	outline: none !important;
}

.errors {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 7.4rem;
	letter-spacing: 4px;
}

h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 60px;
}

.flashes {
	position: fixed;
	right: 15px;
	top: 75px;
	z-index: 999;
}

/*Header*/
#nav {
	background-color: #3B354D;
}

.main-menu__list {
	display: flex;
}

.main-menu__item a {
	color: #fff;
	display: block;
	line-height: 50px;
	padding: 10px 10px;
	border-top: 3px solid transparent;
}

.main-menu__item a:hover {
	color: #FF6162;
}

form input {
	margin: 7px 0;
}

.dropdown-menu {
	background-color: #2f2c3c;
}

.dropdown-menu .btn {
	border: none;
	width: 100%;
}

.dropdown-menu .btn:hover {
	background-color: white;
}


/*Header*/
header {
	background: url("../img/bg.jpg") no-repeat center top;
	color: #fff;
	padding: 120px 0 200px;
}

.main-subtitle {
	font-size: 20px;
}

.profile-link {
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.profile-link:hover {
	background-color: #2f2c3c;
	color: white;
}

/*Users*/
#users {
	padding: 80px 0;
}

/*Profile*/
#profile {
	padding: 80px 0;
}

.settings-form {
	background-color: #fff;
	padding: 40px 20px;
	border-radius: .25rem;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.04);
}

.settings-form select {
	margin: 7px 0;
}

.settings-form .profile__avatar {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	cursor: pointer;
	margin: 0 20px 1rem 0;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 0;
	-webkit-transition: .15s ease-in all;
	-moz-transition: .15s ease-in all;
	-ms-transition: .15s ease-in all;
	-o-transition: .15s ease-in all;
	transition: .15s ease-in all;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.profile__avatar:hover {
	font-size: 30px
}

.profile__avatar.selected {
	background: #3B354D !important;
	font-size: 30px;
	color: #28a745;
}

.profile__avatar:focus {
	background: #000;
}

.profile__avatar input {
	display: none;
}

.profile__avatar input {
	background-color: #000;
}

/*Footer*/
footer {
	background-color: #3B354D;
	color: #fff;
	padding: 15px 0;
}

/*SELECT2*/
.select2-container .select2-selection--multiple {
	background-color: #7b8b9421;
	border: 1px solid #ced4da !important;
	border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #007bff;
	color: #fff;
	border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #f05151;
}