{% extends "layout.html" %}
{% block content %}
	<section id="chat">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Chat</h2>
				</div>
			</div>
			<div class="row justify-content-center mb-3">
				<div class="col-12 col-md-10">
					<a href="%% url_for('profile', user_id=recipient.id) %%" class="text-info">
						<img src="%% recipient.avatar %%" alt="Matcha" class="img-fluid rounded chat__img">
						@%% recipient.login %%
					</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<div class="chat">
						<div class="chat__message" v-for="message in messages"
							 v-bind:class="{ 'right-align': message.sender_id == sender_id }">
							<img :src="message.sender_id == sender_id ? '%% cur_user.avatar %%' : '%% recipient.avatar %%'"
								 alt="Matcha" class="chat__img rounded">
							<div class="d-flex flex-column">
								<div class="d-flex align-items-center">
									<div class="chat__login text-info">
										@{{ message.sender_id == sender_id ? '%% cur_user.login %%' : '%% recipient.login %%' }}
									</div>
									<div class="chat__timestamp text-info">{{ message.timestamp }}</div>
								</div>
								<div class="chat__text card-body bg-light">{{ message.body }}</div>
							</div>
						</div>
					</div>
					<form class="sendMessageForm" @submit.prevent="sendMessage">
						{#						<input type="hidden" name="_csrf_token" value="%% csrf_token() %%">#}
						<input type="hidden" name="sender_id" value="%% cur_user.id %%">
						<textarea name="text" placeholder="Type your text to %% recipient.login %% here"
								  class="form-control chat__textarea" required maxlength="256"></textarea>
						<button class="btn btn-block btn-primary">Send message</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}