{% extends "layout.html" %}
{% block content %}
	<section id="chat">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 bg-dark border-bottom border-secondary d-flex align-items-center">
					<a href="%% url_for('profile', user_id=user.id) %%" class="text-info mr-3">
						<img src="%% user.avatar %%" alt="Matcha"
							 class="img-fluid rounded chat__img chat__img_lg">
						%% user.login %%
					</a>
					<div class="chat__status text-secondary">
						{% if user.online %}
							<i class="fas fa-circle text-success"></i>
							online
						{% else %}
							<i class="fas fa-circle text-danger"></i>
							%% user.last_login if user.last_login else 'offline' %%
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 p-0">
					<div class="chat">
						<div class="chat__message" v-for="message in messages"
							 :class="{ 'right-align': message.sender_id == sender_id }">
							<img :src="message.sender_id == sender_id ? '%% cur_user.avatar %%' : '%% user.avatar %%'"
								 alt="Matcha" class="chat__img rounded">
							<div class="d-flex flex-column">
								<div class="chat__timestamp text-secondary"
									 :class="{ 'text-right': message.sender_id == sender_id }">
									{{ message.timestamp }}
								</div>
								<div class="chat__text card-body bg-light">{{ message.text }}</div>
							</div>
						</div>
						<div class="chat__message_empty text-secondary text-center"
							 v-if="!messages.length">
							No messages...
						</div>
					</div>
					<form class="sendMessageForm" @submit.prevent="sendMessage"
						  @keyup.ctrl.enter="sendMessage">
						<input type="hidden" name="csrf_token" value="%% csrf_token %%">
						<input type="hidden" name="sender_id" value="%% cur_user.id %%">
						<input type="hidden" name="recipient_id" value="%% user.id %%">
						<input type="hidden" name="chat_id" value="%% chat.id %%">
						<div class="d-flex">
							<textarea required name="text" class="form-control chat__textarea"
									  placeholder="Type your text to %% user.login %% here"
									  maxlength="256"></textarea>
							<button class="btn chat__button">
								<i class="fas fa-fighter-jet text-info"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}