{% extends "layout.html" %}
{% block content %}
	<header>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-7 text-center">
					<h1 class="main-title">Socialize.</h1>
					<p class="main-subtitle">
						Searching for your soul mate is difficult. With a bit of FUN & social interactions, everything
						becomes much simpler!
					</p>
				</div>
			</div>
		</div>
	</header>
	<section id="users">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Meet our Active Members</h2>
				</div>
			</div>
			<div class="row">
				{% for user in users %}
					<div class="col-4">
						<div class="card">
							<a href="%% url_for('profile', user_id=user.id) %%">
								<img src="%% user.avatar %%" alt="Matcha" class="card-img-top">
							</a>
							<div class="card-body">
								<h5 class="card-title">%% user.login %%</h5>
								<p class="card-text">%% user.biography %%</p>
								<button class="btn btn-danger likeUser"
										data-liked-user-id="%% user.id %%" data-user-id="%% current_user.id %%"
										{% print('disabled') if user.id in current_user.liked_users %}>
									<i class="fas fa-thumbs-up"></i>Like
								</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
