<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Matcha</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900|Poppins:300,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
</head>
<body>
<section id="nav">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-1 text-center"><img src="static/img/logo.png" alt="Matcha"></div>
			<div class="col-9">
				<nav class="main-menu">
					<ul class="main-menu__list justify-content-center">
						<li class="main-menu__item"><a href="%% url_for('index') %%">Main</a></li>
						<li class="main-menu__item"><a href="%% url_for('settings') %%">Profile Settings</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-2 text-right d-flex align-items-center">
				<div class="dropdown" id="notifications">
					<a href="#" class="text-success" data-toggle="dropdown" id="user-notif">
						<i class="fas fa-bell"></i>
						{{ length }}
					</a>
					<div class="dropdown-menu dropdown-menu-right notifications" aria-labelledby="user-notif">
						<div class="dropdown-header">Notifications:</div>
						<a class="message text-info" v-for="notif in notifications" :href="notif.link">
							{{ notif.message }}
							<span class="message__timestamp text-secondary">{{ notif.date_created }}</span>
						</a>
						<div class="message" v-if="!length">No notifications yet</div>
					</div>
				</div>
				<div class="dropdown">
					<a href="#" class="profile-link" data-toggle="dropdown" id="user-profile"
					   style="background-image: url(%% cur_user.avatar if cur_user else 'static/img/default_avatar.png' %%)"></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-profile">
						{% if "user" not in session %}
							<a href="#" class="btn btn-transparent" data-toggle="modal" data-target="#signUp">Sign
								up</a>
							<a href="#" class="btn btn-transparent" data-toggle="modal" data-target="#logIn">Log in</a>
						{% else %}
							<a href="/logout" class="btn btn-transparent">Log out</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% block content %}{% endblock %}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-6">
				2018 <code>Matcha.</code> All rights reserved.
			</div>
			<div class="col-6 text-right">
				Created by <code>yochered</code>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="signUp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Registration</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form class="signUpForm" @submit.prevent="sendForm">
					{#					<input type="hidden" name="_csrf_token" value="%% csrf_token() %%">#}
					<input class="form-control" type="text" name="login" placeholder="Login" required maxlength="30">
					<input class="form-control" type="text" name="name" placeholder="First name" required
						   maxlength="30">
					<input class="form-control" type="text" name="surname" placeholder="Last name" required
						   maxlength="30">
					<input class="form-control" type="email" name="email" placeholder="E-mail" required maxlength="30">
					<input class="form-control" type="password" name="pass" placeholder="Password" v-model="pass"
						   required>
					<input class="form-control" type="password" name="repass" placeholder="Repeat password"
						   v-model="repass" required>
					<ul class="errors" v-if="errors.length">
						<li class="alert alert-danger" v-for="error in errors">{{ error }}</li>
					</ul>
					<div class="alert alert-success" v-show="message">
						{{ message }}
					</div>
					<button class="btn btn-danger">Sign up</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="logIn">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Log in</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form @submit.prevent="sendForm">
					{#					<input type="hidden" name="_csrf_token" value="%% csrf_token() %%">#}
					<input class="form-control" type="text" name="login" placeholder="Login" required maxlength="30">
					<input class="form-control" type="password" name="pass" placeholder="Password" required>
					<ul class="errors" v-if="errors.length">
						<li class="alert alert-danger" v-for="error in errors">{{ error }}</li>
					</ul>
					<button class="btn btn-danger">Log In</button>
					<button class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#reset">Forgot
						your password?
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="reset">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Reset password</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form @submit.prevent="sendForm">
					<input type="hidden" name="action" v-model="action" value="{{ action }}">
					{#					<input type="hidden" name="_csrf_token" value="%% csrf_token() %%">#}
					<input class="form-control" v-show="action == 'check'" v-model="email" type="email" name="email"
						   placeholder="E-mail" maxlength="30" required>
					<input class="form-control" v-show="action == 'reset'" v-model="pass" type="password" name="pass"
						   placeholder="New password">
					<input class="form-control" v-show="action == 'reset'" v-model="repass" type="password"
						   name="repass" placeholder="Repeat new password">
					<ul class="errors" v-if="errors.length">
						<li class="alert alert-danger" v-for="error in errors">{{ error }}</li>
					</ul>
					<div class="alert alert-success" v-show="message">
						{{ message }}
					</div>
					<button class="btn btn-danger">Reset Password</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flashes">
			{% for category, message in messages %}
				<li class="alert %% 'alert-' + category %%">%% message %%</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="static/js/main.js"></script>
<script>
	let elem;
	if ((elem = document.getElementById('user-notif'))) {
		notifs = new Vue({
			el: '#notifications',
			data: {
				notifications: {}
			},
			created() {
				{% if cur_user %}
					this.getNotifications();
				{% endif %}
			},
			computed: {
				length() {
					let size = 0, key;
					for (key in this.notifications) {
						if (this.notifications.hasOwnProperty(key)) size++;
					}
					return size;
				}
			},
			methods: {
				getNotifications() {
					axios.get(location.origin + '/get_notifications', {
						params: {user_id: %% cur_user.id if cur_user else None %%
					}
				}).
					then((response) => {
						if (response.data.success)
							this.notifications = response.data.notifications
					})
				}
			}
		});
		{% if cur_user %}
			setInterval(notifs.getNotifications, 10000);
		{% endif %}
	}
</script>
</html>