{% extends "layout.html" %}
{% block content %}
	<section id="profile">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<img src="%% user.avatar %%" alt="Matcha" class="img-fluid">
				</div>
				<div class="col-6">
					<h4 class="profile__login">@%% user.login %%</h4>
					<div class="profile__title">Name:</div>
					<div class="profile__name">
						%% user.name %%
						%% user.surname %%
					</div>
					<div class="profile__title">Fame Rating:</div>
					<div class="progress profile__fame">
						<div class="progress-bar" style="width: 70%">Your Fame Rating: 70%</div>
					</div>
					<div class="profile__title">Preferences:</div>
					<div class="profile__preferences">
						%% user.preferences %%
					</div>
					<div class="profile__title">Biography:</div>
					<div class="profile__bio">
						%% user.biography %%
					</div>
					<div class="profile__title">Interest tags:</div>
					<select class="form-control multiple-tags profile__tags" disabled multiple>#}
						{% for tag in user["tags"] %}
							<option value="%% tag %%" selected>#%% tag %%</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</section>
{% endblock %}