{% extends "layout.html" %}
{% block content %}
	<section id="profile">
		<div class="container">
			<form class="row settings-form">
				<div class="col-12">
					<h2>Account details</h2>
				</div>
				<div class="col-6 form-group">
					Username:
					<input class="form-control" type="text" name="login" value="%% user.login %%">
				</div>
				<div class="col-6 form-group">
					E-mail:
					<input class="form-control" type="email" name="email" value="%% user.email %%">
				</div>
				<div class="col-6 form-group">
					Name:
					<input class="form-control" type="text" name="name" value="%% user.name %%">
				</div>
				<div class="col-6 form-group">
					Last Name:
					<input class="form-control" type="text" name="surname" value="%% user.surname %%">
				</div>
				<div class="col-6 form-group">
					Gender:
					<select class="form-control" name="gender">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="col-6 form-group">
					Sexual preferences:
					<select class="form-control" name="gender">
						<option value="Male">Girls</option>
						<option value="Female">Boys</option>
						<option value="Female">Bisexual</option>
					</select>
				</div>
				<div class="col-6">
					Biography:
					<textarea name="biography" class="form-control"></textarea>
				</div>
				<div class="col align-self-center"><button class="btn btn-success">Apply changes</button></div>
			</form>
		</div>
	</section>
{% endblock %}