<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reset your password</title>
</head>
<body>
	<table style="padding: 30px; color:#ffffff; margin: 0 auto; background-color: #416788; border-radius: 4px; font-size: 18px">
		<tr><td align=center style="font-weight: 600; font-size: 22px">
			Dear, %% user.login %%!!
		</td></tr>
		<tr><td align=center>
			It seems you want to reset your password<br> To set your new password, go via this link:
		</td></tr>
		<tr><td align=center>
			<a href="%% url_for('index', action='reset', email=user.email, token=user.token, _external=True) %%" style="padding: 15px; display: block; background-color: #f05151; color: #ffffff; text-decoration: none; font-size: 18px; font-weight: 600; border-radius: 4px; margin: 7px 0">
				Reset your password
			</a>
		</td></tr>
		<tr><td align=center>
			Regards, The <code>Matcha</code> admin
		</td></tr>
	</table
</body>
</html>