{% for user in users %}
	{% if not cur_user or (user.id != cur_user.id and user.id not in cur_user.blocked_users) %}
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="card">
				<a href="%% url_for('profile', user_id=user.id) %%">
					<img src="%% user.avatar %%" alt="Matcha" class="card-img-top">
				</a>
				<div class="card-body">
					<h5 class="card-title">%% user.login %%</h5>
					<p class="card-text">%% user.biography %%</p>
					<p class="card-text text-muted">
						Age: %% user.age %%<br>
						Gender: %% user.gender %%<br>
						Preferences: %% user.preferences %%<br>
						City: %% user.city %%
					</p>
					<button class="btn btn-success likeUser {% print('done') if user.id in cur_user.liked_users %}"
							data-liked-user-id="%% user.id %%" data-user-id="%% cur_user.id %%">
						<i class="fas fa-thumbs-up"></i>Like
					</button>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}