{% for user in users %}
	{% if not cur_user or (user.id != cur_user.id and user.id not in cur_user.blocked) %}
		{% set liked_user = cur_user and user.id in cur_user.liked %}
		<div class="col-12 col-sm-6 col-lg-4">
			<a href="%% url_for('profile', user_id=user.id) %%" class="card user-list__card">
				<div class="card-img-top">
					<img src="%% user.avatar %%" alt="Matcha">
				</div>
				<div class="card-body text-dark">
					<h5 class="card-title">%% user.login %%</h5>
					<p class="card-text">%% user.biography %%</p>
					<div class="progress mb-2">
						<div class="progress-bar bg-info" style="width: %% user.fame %%%">
							%% user.login %%'s Fame Rating:
							%% user.fame %%%
						</div>
					</div>
					<p class="card-text text-muted">
						Age: %% user.age %%<br>
						Gender: %% user.gender %%<br>
						Preferences: %% user.preferences %%<br>
						City: %% user.city %%
					</p>
					<div class="d-flex flex-wrap mb-3">
						{% for tag in user.tags %}
							<span class="badge badge-info m-1">#%% tag %%</span>
						{% endfor %}
					</div>
					{% if cur_user and cur_user.avatar %}
						<form action="#" class="like-user-ajax">
							<input type="hidden" name="csrf_token" value="%% csrf_token %%">
							<input type="hidden" name="liked_user" value="%% user.id %%">
							{% if liked_user %}
								<button type="submit" name="send_button" class="btn btn-danger like-user">
									<i class='fas fa-thumbs-down'></i>Unlike
								</button>
							{% else %}
								<button type="submit" name="send_button" class="btn btn-success like-user">
									<i class='fas fa-thumbs-up'></i>Like
								</button>
							{% endif %}
						</form>
					{% endif %}
				</div>
			</a>
		</div>
	{% endif %}
{% endfor %}